.block {
    background-color: #EBECF0;
    color: #000;
    border-radius: 10px;
    width: 282px;
    margin: 12px;
    max-height: 538px;
    overflow-y: auto;
}

.block-header {
    text-align: left;
    margin: 12px;
}

.block-header a {
    text-decoration: none;
    color: black;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 12px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: #fff;
    border-radius: 9em;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    border-radius: 10px;
/*    box-shadow: inset 1px 1px 10px #f3faf7;*/
}

/* ::-webkit-scrollbar-thumb:hover {
    background-color: #253861;
}
*/
/* Стрелки 

::-webkit-scrollbar-button:vertical:start:decrement {
    background: #ebecf0;
    background-color: #ebecf0;
    border-radius: 10px;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}
*/